<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>You are about to edit this username:<%=user.email%></h2>
    <form method="Post" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username" id="" rows="2" cols="30"><%=user.username%></textarea>
        <input type="password" placeholder="enter password" name="password">
        <button>submit</button>
    </form>
</body>
</html>